* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Raleway', sans-serif;
}

.navbar-brand img {
    width: 05%;
    height: auto;
}

.containerquienessomos{
    background-color: black;
}

.containerdestacados {
    background-color: black;
}

.containercontacto {
    background-color: black;
}

.row.my-5.text-white {
    padding-top: 05px;
    padding-bottom: 05px;
    padding-left: 80px;
    padding-right: 80px;
}

.icon-container {
    width: 180px;
    height: 50px;
    border: 2px solid rgba(69, 173, 218, 0.964);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangulo {
    width: 100%;
    height: 35px;
    text-align: center;
    background-color: rgba(69, 173, 218, 0.964);
}

.card-img-top {
    max-width: 100%;
    max-height: 190px;
    object-fit: cover;
}

hr {
    width: 1190px;
}

.mb-5 {
    margin-left: 50px;
}

footer {
    background-color: rgba(69, 173, 218, 0.964);
}

html {
    scroll-behavior: smooth;
}